# -----------------------------------
# Begin Custom Environment Variables
# -----------------------------------

# Local and ci/cd only: Path to XM Cloud repository for template type code generation
AW_XM_CLOUD_REPO_PATH=../xmcloud

# Application Details
NEXT_PUBLIC_AW_ENVIRONMENT=local
NEXT_PUBLIC_AW_ROLE=preview

# Application Insights Configuration
# Add your Azure Application Insights connection string here
# Format: InstrumentationKey=00000000-0000-0000-0000-000000000000;IngestionEndpoint=https://region.applicationinsights.azure.com/;LiveEndpoint=https://region.livediagnostics.monitor.azure.com/
# NEXT_PUBLIC_AW_APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=1458397c-58fd-494f-b2c9-ca88cfc4092c;IngestionEndpoint=https://northcentralus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northcentralus.livediagnostics.monitor.azure.com/;ApplicationId=14a1dcca-7e87-4330-a608-15138fa58198

# Bazaarvoice - Ratings & Reviews
AW_BAZAARVOICE_API_KEY=<see 1Password>
AW_BAZAARVOICE_API_URL=https://stg.api.bazaarvoice.com/data/reviews.json?apiversion=5.4&passkey=

# TechDocs Chat Bot
AW_CHTBT_API_BASE_URL=https://stage-chtbt2-azfunc-api-c2cae4cnawhnfsch.z01.azurefd.net
AW_CHTBT_API_USERNAME=uatuser1
AW_CHTBT_API_PASSWORD=<see 1Password>

# Coveo
AW_COVEO_API_KEY=<see 1Password>
AW_COVEO_INDEXER_SOURCE=master
AW_COVEO_INDEXER_SITES=[{"name":"AndersenWindows","hostName":"preview.local.xmc.andersenwindows.com","language":"en"},{"name":"AndersenHomeDepot","hostName":"preview.local.xmc.andersenhomedepot.com","language":"en"},{"name":"AndersenLuminaire","hostName":"preview.local.xmc.andersenluminaire.com","language":"en"},{"name":"HeritageWindows","hostName":"preview.local.xmc.heritagewindows.com","language":"en"},{"name":"Stormdoors","hostName":"preview.local.xmc.stormdoors.com","language":"en"}]
NEXT_PUBLIC_AW_COVEO_FARM_NAME=Dev-Preview
NEXT_PUBLIC_AW_COVEO_ORGANIZATION_ID=andersencorporationsandbox

# Enterprise Web APIs
AW_ENTERPRISE_WEB_API_KEY=<see 1Password>
AW_ENTERPRISE_WEB_API_URL=https://api.dev.ew.andersencorp.com

# External Database Configuration
AW_EXTERNALDB_NAME=dev_external
AW_EXTERNALDB_USER=awwebsite
AW_EXTERNALDB_PASSWORD=<see 1Password>
AW_EXTERNALDB_SERVER=deventwb1sql1.database.windows.net

# Google Cloud Keys
AW_GOOGLE_RECAPTCHA_PROJECT_ID=andersen-windows-dotcom-dev
AW_GOOGLE_RECAPTCHA_SECRET_KEY=<see 1Password>
NEXT_PUBLIC_AW_GOOGLE_API_KEY=AIzaSyClsQGTOMLDkua4Q8lFZcCmaXR2NqF6o0I`
NEXT_PUBLIC_AW_GOOGLE_RECAPTCHA_SITE_KEY=6LeYDicpAAAAAJF43KPJtzDuwx7_qgiEHLrqpxnX

# Lever - Job Application Service
AW_LEVER_API_HOST=https://api.sandbox.lever.co/
AW_LEVER_API_KEY=<see 1Password>

# Marlimar - AR Text Messaging
AW_MARLIMAR_HASH_KEYS_SHARE_AR=c834d8c532f57e76eab481ec1fe5124a

# Mulesoft - AW Internal APIs
AW_MULESOFT_CLIENT_ID=1940ab49a8ba4002a41faf730ccfdf6d
AW_MULESOFT_CLIENT_SECRET=<see 1Password>
AW_MULESOFT_API_URL=https://it4apistg2.andersencorp.com

# iQ+ - Paradigm
AW_PARADIGM_AUTH_API_URL=https://webcp-ll-auth.myparadigmcloud.com/webcp
AW_PARADIGM_AUTH_SYSTEM_ID=BinNq4Xty1yDxH6uBLQg
AW_PARADIGM_AUTH_USERNAME=AWWebDevelopers@andersencorp.com
AW_PARADIGM_AUTH_PASSWORD=<see 1Password>
AW_PARADIGM_APP_API_URL=https://andersen-webcp-upg.myparadigmcloud.com/andersen-upg/api/app/webcp/v1
AW_PARADIGM_CONFIG_API_URL=https://andersen-webcp-upg.myparadigmcloud.com/andersen-upg/api/config/config/v1
AW_PARADIGM_CLIENT_ID=f3a5a189-8211-49b4-a2fb-22cd65f239ce    # Client ID dealer number 205
NEXT_PUBLIC_AW_PARADIGM_BASE_IMAGE_URL=https://1ueuqluqds1a6dq6fvt1.blob.core.windows.net/andersen-other/andersen-upg/config

# RbA Legacy API - Leads / Offers
AW_RBA_AUTHORIZATION_KEY=<see 1Password>
AW_RBA_SUBMITFORM_ENDPOINT_URL=https://test.renewalbyandersen.com/api/sitecore/featureforms/submitform

# SendGrid
AW_SENDGRID_API_KEY=<see 1Password>

# Salesforce Sales Cloud & Marketing Cloud
AW_SF_MC_ACCOUNT_IDS_AW=7330878
AW_SF_MC_AUTH_BASE_URL=https://mcn2bhtvqfyvc7m03sf11p-6gj31.auth.marketingcloudapis.com/
AW_SF_MC_CLIENT_ID=wpsa0i3xankqek82rrgd9qvz
AW_SF_MC_CLIENT_SECRET=<see 1Password>
AW_SF_MC_REST_BASE_URL=https://mcn2bhtvqfyvc7m03sf11p-6gj31.rest.marketingcloudapis.com/
AW_SF_MC_TOKEN_TTL_MINUTES=20
NEXT_PUBLIC_AW_SF_SC_ORG_IDS_AW=00DWG000002i99h
NEXT_PUBLIC_AW_SF_SC_WEB_TO_LEAD_URL=https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8

# AW Shareholder Landing Page
AW_SHAREHOLDER_CODES_SHA256=["c3d29c48882f5b2c294c3744a7da32da5a1c3eaff95141ad8e135d8da75a21ab","9a6cf0794537c15cd9d37427e296f9753cd712fa7bff992be3f47e4c64d76cd0"]
AW_SHAREHOLDER_SALT=<see 1Password>
AW_SHAREHOLDER_ZOOM_URL=https://andersencorp.zoom.us/webinar/register/WN_y1CdeB4NRC-H1rWso_lhpQ#/registration

# Site Settings
AW_SITE_ISR_INTERVAL=5
AW_SITE_IGNORE_MEDIA_REDIRECT=true

# IFrame Resizer Library Key
NEXT_PUBLIC_AW_IFRAMERESIZER_LICENSE=12ajjdewwwy-26rnhw2943-1s7g1u8ma0i

# RbA Online Scheduling
NEXT_PUBLIC_AW_ONLINE_SCHEDULING_DOMAIN=https://preview.dev.os.andersenwindows.com
NEXT_PUBLIC_AW_ONLINE_SCHEDULING_KEY=lWbKalY4xQ8EPGf00aaoENmfuUZU60ZM

# Renoworks - Design Tool
NEXT_PUBLIC_AW_RENOWORKS_API_URL=https://andersen.renoworks.com
NEXT_PUBLIC_AW_RENOWORKS_RWD=test

# TrustArc - Consent Management
NEXT_PUBLIC_AW_TRUSTARC_CMID=hngjd8

# ---------------------------------
# End Custom Environment Variables
# ---------------------------------

# -------------------------------------
# Begin Sitecore Environment Variables
# -------------------------------------

# Sitecore Content SDK npm packages utilize the debug module for debug logging.
# https://www.npmjs.com/package/debug
# Set the DEBUG environment variable to 'content-sdk:*' to see all logs:
#DEBUG=content-sdk:*
# Or be selective and show for example only layout service logs:
#DEBUG=content-sdk:layout
# Or everything BUT layout service logs:
#DEBUG=content-sdk:*,-content-sdk:layout
# Or AW specific logs:
#DEBUG=aw:*

GENERATE_STATIC_PATHS=false # Comment to perform a build that will pre-generate all pages

NEXT_PUBLIC_DEFAULT_LANGUAGE=en
NEXT_PUBLIC_DEFAULT_SITE_NAME=AndersenSandbox

# Local Content SDK
NEXT_PUBLIC_SITECORE_API_HOST=https://xmcloudcm.localhost
# Your local API Key and Editing Secret can be found:
#  - On the file system at [xmcloud root]/local-containers/.env.local file
#  - In Sitecore
#    - API Key: In the content tree at /sitecore/system/Settings/Services/API Keys/Local
#    - Editing Secret: at https://xmcloudcm.localhost/sitecore/admin/ShowConfig.aspx under the setting for "JavaScriptServices.ViewEngine.Http.JssEditingSecret"
NEXT_PUBLIC_SITECORE_API_KEY=<see above>
SITECORE_EDITING_SECRET=<see above>

# Dev Preview
# NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=3SlAYlHMmdnuLz3SEY6wTl
# SITECORE_EDITING_SECRET=<see 1Password>

# Dev Live
# NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=6mWEV7FCOGIx3999Z8v4va

# UAT Preview
# NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=4hqSN6JH617XWOBVkddU6Q
# SITECORE_EDITING_SECRET=<see 1Password>

# UAT Live
# NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=4vAsTjVjLabTCTYJa60ko4

# Prod Preview
# NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=1IC1ZJZIz5vqnB8c78ALLB
# SITECORE_EDITING_SECRET=<see 1Password>

# Prod Live
# NEXT_PUBLIC_SITECORE_EDGE_CONTEXT_ID=3knyIRYQ3AO4ego8wYsgiG

# -----------------------------------
# End Sitecore Environment Variables
# -----------------------------------
