/* product-design-tool.module.css */
.pdtRadioBorderSelected {
  border-color: var(--theme-btn-border);
  border-width: 5px;
  border-style: solid;
  padding: 5px;
}

.pdtRadioBorderUnselected {
  border-color: rgba(228, 229, 228, 1);
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}

.radioItemMargin {
  margin-bottom: 10px;
}
